.main-content{
    padding: 0;
    margin: 0;
}

ion-img{
    width: 100px;
    margin: 0% auto 0% auto;
}

ion-card{
    --background: white;
    --color: #1e2023;
    h5{
        text-align: center;
    }

    ion-label{
        font-size: 14pt;
        font-family: arial;
        color: #1e2023;
    }

    
}