.main-content{
    text-align: center;
    padding-bottom: 2px;
    height: fit-content;
    color: #1e2023;
}

.logo{
    text-align: inherit;
}

h1{
    margin-top: 13%;
}

ion-content{
    height: fit-content;
    --background: white;
}