.header{
    margin: 0% auto 0% auto;
    display: flex;
    
}

.main-content{
    padding: 0;
    margin: 0;
    text-align: start;
}
h4{
    font-weight: bold;
    margin-left: 10%;
}

ion-img{
    width: 150px;
    height: 150px;
}

ion-item{
    padding: 0;
    margin: 10px 15px;
    border: none;
    color: #1e2023;
}

ion-card{
    margin-top: 10px;
}

ion-card-content{
    display: flex;

    ion-card-title{
        text-align: center;
        margin-top: 20%;
    }
}

ion-slide{
    display: block;
    text-align: center;
    margin-left: 2%;
    margin-top: 15%;
    width: 80px;
    ion-img{
        margin: auto;
    }
    border: 2px solid white;
    border-style: groove;
}

ion-slides{
    margin-right: 5%;
    
}

