<ion-content>
  <div class="logo">
    <app-logo></app-logo>
  </div>
  
  <div class="main-content">
    <div class="title">
      <ion-item lines="none">
        <ion-icon name="chevron-back" slot="start" (click)="goBack()"></ion-icon>
        <h2>Reset Password</h2>
      </ion-item>
    </div>
    
    <div class="content">
      <p>Enter the email address that you used when registering on CampusFood.
        An email with the link to reset your password will be sent to you.</p>
  
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="email" [(ngModel)]="cust.email" required="required" placeholder="E-mail Address"></ion-input>
      </ion-item>
      
  
      <br/>
      <ion-button expand="block" (click)="sendLink()">Send Link</ion-button>
      <br/><br/>
    </div>
  </div>
</ion-content>
