ion-content{
    --background: white;
}

.main-content{
    text-align: center;
}

.title{
    ion-item{
        border: none;
        margin-left: 0;
    }
    
    ion-label{
        text-align: center;
    }
}

p, ion-item, ion-input{
    margin-left: 10%;
    margin-right: 3%;
}

p{
    text-align: start;
    padding-bottom: 10%;
    font-size: 13pt;
}

ion-label{
    text-align: center;
    margin-left: 10%;
}

ion-button{
    margin-top: 0;
    margin-bottom: 0;
}

.back-button ion-icon{
    color: black;
    font-size: 20pt;
    border: none;
    padding-bottom: 0;
}

.logo{ padding: 0;}

ion-toolbar{
    height: 78px;
  }

.content{
    ion-input{
        border: none;
    }
    padding-bottom: 7%;
    
}

