.main-content{
    border: none;
    padding: 0;
}

.content{
    margin-top: 10px;
    //padding-bottom: 3%;
    padding: 0;
    ion-col{
        text-align: right;
    }
}

ion-toolbar{
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0rem;
  height: min-content;
}

h5{
  padding-top: 10%;
  margin-top: 0;
  margin-left: 40%;
  font-family: verdana;
  font-weight: bold;
}

h6{
  margin-left: 39%;
}

.user{
  padding: 0;
  text-align: center;
  background: #ffcc00;
  padding-bottom: 3.5%;
  
  ion-avatar{
    --color: white;
    height: 150px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: auto;
  }

  ion-img{
    width: 150px;
  }
}

.support{
    ion-item{
        margin: 5px 0px 5px 10%;
        border: none;
    }
  }

  ion-item{
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    --color: #1e2023;
    border: 1px solid whitesmoke;
  }

